<h4>Home</h4>

<% @posts.each do |post| %>
    <div class="panel panel-primary">
            <div class="panel-heading">
                <%= post.user.name %>
            </div>
            <div class="panel-body">
                <a href="/posts/<%=post.id%>"><%= post.body %></a>
            </div>

            <div class="panel-footer">
                <div class="buttons">
                    <a href="/"><span class="glyphicon glyphicon-comment"></span></a>
                </div>
            </div>
    </div>
<% end %>